body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  margin:50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr{
  border-style: dotted;
  width: 5%;
  border-width: 8px 0 0 0;
  border-color: #EAF6F6;

}

a{
  color: #11999E;
  display: inline-block;
  margin-right: 50px;
  text-decoration: none;
}

a:hover{
  color: white;
}

p{
  color:#40514E;
  font-weight:bolder;
}

.profile{
  padding: 5% 0 5% ;
  line-height: 2;
}

.skills{
  padding-top:5%;
}

.contact-me{
  padding-top:5%;
  padding-bottom:5%;
  line-height: 2;
}

.top-container{
  background-color: #E4F5F9;
  position:relative;
  padding-top: 100px;
}

.skill-row{
  width: 50%;
  margin:100px auto;
  text-align: left;
  line-height: 2;
}

.skill-1{
  width:20%;
  float: left;
  margin-right: 30px;
}

.skill-2{
  width:20%;
  float: right;
  margin-left: 30px;
}

.bottom-container{
  border:150px;
  padding: 50px;
  background-color: #66BFBF;
}


.top-cloud{
  position:absolute;
  right: 200px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.BUTTON_RAP {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 5px;
   color: #FFFFFF;
   font-family: Verdana;
   font-size: 18px;
   font-weight: 100;
   padding: 0 20px;
   background-color: #66BFBF;
   text-shadow: 1px 1px 20px #000000;
   border: solid #66BFBF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_RAP:hover {
   background: #5F939A ;
   border: solid #5F939A 1px;;
   text-decoration: none;
}
